/* Define a paleta de cores */
:root {
    --cor-principal: #5a6c77;
    --cor-secundaria: #558d6d;
    --cor-fundo-claro: #ecf0f1;
    --cor-fundo-escuro: #34495e;
    --cor-texto: #39424c;
    --cor-acento: #e74c3c;
    --cor-borda: rgba(0, 0, 0, 0.1);
  }
  

.confirmacao-container {
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    background-color: var(--cor-fundo-claro);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
  }
  
  h1 {
    text-align: center;
    color: var(--cor-principal);
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
  }
  

  .evento-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--cor-borda);
  }
  
  .evento-card h3 {
    color: var(--cor-principal);
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  
  .evento-card p {
    color: var(--cor-texto);
    font-size: 1.1em;
  }
  
  /* Tabela de convidados */
  .tabela-convidados {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tabela-convidados th, .tabela-convidados td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid var(--cor-borda);
    color: var(--cor-texto);
  }
  
  .tabela-convidados th {
    background-color: var(--cor-principal);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tabela-convidados tr:nth-child(even) { /*efeito de tabela, linhas com cores diferentes */
    background-color: #dcdedfeb;
  }
  
  .tabela-convidados tr:hover {
    background-color: var(--cor-fundo-claro);
  }
  
  .tabela-convidados td input[type="text"],
  .tabela-convidados td input[type="email"] {
    width: 100%;
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
    background-color: #f7f7f7;
    color: var(--cor-texto);
    transition: all 0.3s ease;
  }
  
  /*botões de ação */
  button {
    background-color: var(--cor-secundaria);
    color: white;
    padding: 4px 10px;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: var(--cor-principal);
    transform: scale(1.05); 
  }
  
  button:active {
    transform: scale(0.98); 
  }
  
  button:focus {
    outline: none;
  }
  
 
  button + button {
    margin-left: 15px;
  }

 
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--cor-borda);
    transition: all 0.3s ease;
    background-color: #f7f7f7;
    color: var(--cor-texto);
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: var(--cor-principal);
    outline: none;
    background-color: #fff;
  } /* para focar o input*/
  
  input[type="text"],
  input[type="email"] {
    margin-bottom:3px;
  }
  
  .tabela-convidados tr:hover td {
    background-color: #ecf0f1;
  }
  

  .acoes svg {
    color: var(--cor-texto);
    font-size: 1.3em;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .acoes svg:hover {
    color: var(--cor-acento);
    transform: scale(1.2);
  }
  