
/* CadastroAdministrador.css */
.cadastro-admin-container {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.cadastro-admin-form-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    color: #444;
    margin-bottom: 20px;
    font-size: 24px;
}

.cadastro-admin-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: #f5f5f5;
    transition: 0.3s ease-in-out;
}

.cadastro-admin-input:focus {
    outline: none;
    background: #e0e0e0;
}

.cadastro-admin-button {
    width: 100%;
    padding: 12px;
    background: #6e8efb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
}

.cadastro-admin-button:hover {
    background: #e04e68;
}

.cadastro-admin-error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
